(
    entities: [
        (
            name: "kako_cube_1",
            transform: (
                position: (-3.4, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Model(
                model_path: "assets\\models\\cube.obj",
            )),
            scripts: [],
            camera: None,
        ),
        (
            name: "kako_cube_2",
            transform: (
                position: (3.9, 0.0, 0.0),
                rotation: (0.0031201467, -0.56413746, 0.21000104, 0.7985229),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Model(
                model_path: "assets\\models\\cube.obj",
            )),
            scripts: [],
            camera: None,
        ),
        (
            name: "kako_sprite",
            transform: (
                position: (-2.95, -0.2, -5.2),
                rotation: (-0.0, -0.25881904, 0.0, 0.9659258),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Sprite(
                texture_path: "assets\\textures\\kako.png",
                width: 1.0,
                height: 1.0,
            )),
            scripts: [],
            camera: None,
        ),
        (
            name: "marx",
            transform: (
                position: (0.0, 1.3, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Sprite(
                texture_path: "assets\\textures\\329009.jpg",
                width: 1.0,
                height: 0.5625,
            )),
            scripts: [],
            camera: None,
        ),
        (
            name: "player",
            transform: (
                position: (0.0, 0.0, 0.0),
                rotation: (-0.0, -0.6087614, 0.0, 0.7933533),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Model(
                model_path: "assets\\models\\kakoball.obj",
            )),
            scripts: [
                (
                    path: "scripts\\spin.rhai",
                    enabled: true,
                ),
                (
                    path: "scripts\\movement.rhai",
                    enabled: true,
                ),
                (
                    path: "scripts\\fly.rhai",
                    enabled: true,
                ),
                (
                    path: "scripts\\marx_follow.rhai",
                    enabled: true,
                ),
                (
                    path: "scripts\\spawn_kako_cube.rhai",
                    enabled: true,
                ),
            ],
            camera: None,
        ),
        (
            name: "kako_ball_copy_1",
            transform: (
                position: (0.95, 0.0, 4.3),
                rotation: (-0.0, -0.6087614, 0.0, 0.7933533),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Model(
                model_path: "assets\\models\\kakoball.obj",
            )),
            scripts: [],
            camera: None,
        ),
        (
            name: "kako_ball_copy_2",
            transform: (
                position: (2.0, 0.0, 4.3),
                rotation: (-0.0, -0.6087614, 0.0, 0.7933533),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: Some(Model(
                model_path: "assets\\models\\kakoball.obj",
            )),
            scripts: [],
            camera: None,
        ),
        (
            name: "Camera",
            transform: (
                position: (0.0, 2.2, 9.4),
                rotation: (-0.0784591, 0.0, 0.0, 0.9969173),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: None,
            scripts: [
                (
                    path: "scripts\\follow_player.rhai",
                    enabled: true,
                ),
            ],
            camera: Some((
                fov: 45.0,
                znear: 0.1,
                zfar: 100.0,
                active: true,
            )),
        ),
        (
            name: "world_entity",
            transform: (
                position: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            renderable: None,
            scripts: [
                (
                    path: "scripts\\change_scene.rhai",
                    enabled: true,
                ),
            ],
            camera: None,
        ),
    ],
)